.container{
  padding: 16px;
}

nav{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  a{
    display: block;
    color: #4099ff;
    margin: 0 8px;
    border: 1px solid #4099ff;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    font-size: 18px;
    box-sizing: content-box;
    &.active{
      background: #4099ff;
      color: #fff;
    }
  }
}

.wizard-container{
  max-width: 640px;
  margin: 0 auto;
}
.wizard-title{
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
  color: #999;
}
.wizard-navigation{
  display: flex;
  justify-content: space-between;
  .prev-step,
  .next-step{
    line-height: 44px;
    box-sizing: content-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 16px;
    font-weight: 700;
    i{
      line-height: 42px;
      vertical-align: middle;
    }
  }
  .next-step{
    color: #fff;
    border-color: transparent;
    background: #4099ff;
  }
}

// Dynamic form styles
.dynamic-field-group{
  display: flex;
  .form-control{
    flex-grow: 1
  }
  .remove{
    width: 48px;
    margin-left: 16px;
    font-size: 22px;
    line-height: 42px;
    &:hover{
      background: indianred;
      color: white;
      border-color: transparent;
    }
  }
}
.add-more{
  background: #4099ff;
  color: #ffffff;
  border-color: transparent;
  &:hover{
    background: darken($color: #4099ff, $amount: 10%)
  }
}